Source: microfiber
Section: python
Priority: optional
Maintainer: Jason Gerard DeRose <jderose@novacut.com>
Build-Depends: debhelper (>= 9),
    python3-all (>= 3.3),
    python3-sphinx,
    python3-dbase32 (>= 0.4),
    python3-usercouch (>= 13.04), 
Standards-Version: 3.9.4
X-Python3-Version: >= 3.3
Homepage: https://launchpad.net/microfiber

Package: python3-microfiber
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-dbase32 (>= 0.5)
Suggests: python3-usercouch, python3-microfiber-doc
Description: fabric for a lightweight Couch
 Microfiber is an abstract adapter for making HTTP requests to an arbitrary JSON
 loving REST API like CouchDB.  Rather than wrapping the API in a bunch of
 one-off methods, Microfiber just makes it super easy to call any part of the
 CouchDB REST API, current or future.  This approach allows Microfiber to be
 very simple and basically maintenance free as it requires no changes to support
 new additions to the CouchDB API.

Package: python3-microfiber-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Suggests: python3-microfiber
Description: documentation for python3-microfiber
 Microfiber is an abstract adapter for making HTTP requests to an arbitrary JSON
 loving REST API like CouchDB.  Rather than wrapping the API in a bunch of
 one-off methods, Microfiber just makes it super easy to call any part of the
 CouchDB REST API, current or future.  This approach allows Microfiber to be
 very simple and basically maintenance free as it requires no changes to support
 new additions to the CouchDB API.
 .
 This package provides the documentation.
