#!/usr/bin/make -f

PYTHON3=$(shell py3versions -vr)

%:
	dh $@ --with=python3 --with=sphinxdoc

test-python%:
	python$* setup.py test --auth=basic
	python$* setup.py test --auth=oauth

override_dh_auto_clean:
	rm -rf build/ doc/_build/

override_dh_auto_build:
	sphinx-build -b html doc doc/_build/html
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py build \
				--executable=/usr/bin/python3; \
	done

override_dh_auto_install:
	set -ex; for python in $(shell py3versions -r); do \
		$$python setup.py install \
				--install-layout=deb \
				--root=$(CURDIR)/debian/python3-microfiber; \
	done

override_dh_auto_test: $(PYTHON3:%=test-python%)

