#!/usr/bin/make -f
%:
	dh $@ --with=python3 --without=python-support

override_dh_auto_install:
	for pyvers in $(shell py3versions -sv); do \
		python$$pyvers setup.py install \
				--install-layout=deb \
				--root $(CURDIR)/debian/python3-microfiber; \
	done
